body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

.form input, .form button {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    font-size: 17px;
    border-radius: 8px;
}

button {
    background: #008cff;
    color: white;
    border: none;
}

.item {
    padding: 12px;
    background: white;
    margin: 6px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}